
article{
		  margin-top:auto;
      margin-bottom: 50px;
		  padding: 10px 30px;

}
.input_select{
	padding: 10px 30px;
	position: relative;


}
#club{
	font-size: 20px;
}
#month{
		margin:30px;
	font-size: 20px;
}
#clublist{
	font-size: 20px;
}
table{
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
}
th{
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #F0A899;
  color: white;

}
td{
		vertical-align: bottom;

}
th, td {
  padding: 15px;
  text-align: left;
}
table, th, td {
border: 1px solid #ddd;
padding: 8px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #8fd3f4;
}
