.topnav {
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow:1;
  text-transform: uppercase;
  background-color: red;

}
ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display:inline-block;
}
.linktop {
  align-items: flex-end;

  display: block;
  padding: 14px;
  color: #000000;
  text-decoration: none;
  line-height:2em;
  font-size: 1.5em;

}
.logo {
  height: 50px;
  width: 100px;
  display:inline-block;
  justify-content: flex-start;


  flex-grow:1;
}

.logo-img {
  height:inherit;
}
.logo-link {
  height: inherit;
  width: auto;
  display: block;
}
.navbar {
  display:flex;
  padding: 10px 20px;
  background-color: green;

}
/*.navbar > div{
width: 100px;
margin: 10px;

}*/

li a:hover{
  color:white;

  background-color:#5792f2;
}*/
body {

  font-family: Arial,Helvetica,sans-serif;
}
footer  {
  margin-top:auto;

}
footer > div{
  width: 100px;
  margin: 10px;
}

.Clubs {
  align-items: flex-end;

  display: block;
  padding: 13px;
  color: #000000;
  text-decoration: none;
  line-height:2em;
  font-size: 20px;
  margin-top: 30px;
  /*background-color: red;*/

}
.subscription {
}
.subscription input {
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  margin-top: 45px;
}
.navbar1 {
  display:flex;
  justify-content: space-between;
} .block1 .block2 .block3 .block4 */

.block {
  flex:grow;
  border-style:solid;
  border-radius: 25px;
  border-color:#8fd3f4;
  margin: 10px 20px 30px;
  padding: 10px;


}
.block1 {
  display:flex;
  border-style: solid;
  margin-top: 40px;
  border-radius: 25px;
  border-color:#8fd3f4;
  padding:10px 10px;
}*/
@media all and (max-width: 800px) {
  .block {
    flex-direction: column;
  }
}
.sidebar-image {
  width: 300px;
  margin: 0px 20px;
}


.main  {
  flex-grow:1;
  justify-content: space-between;
  margin-left: 30px;
  padding-top:10px;
  /*background-color:green;*/
}
.wholedescrip {
  margin-bottom: 5px;
  margin-top:5px;
  text-align: left;

  color:red;
}

.info {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}
/*.sidebar-image1 {
  width:300;
}*/
.headline {
  margin-left: 60px;
}

.main1 {
  flex-grow:1;
  justify-content: space-between;
  margin-left: 30px;
  padding-top: 10px;
  padding-right:10px;

}
.wholedescrip1 {
  margin-bottom: 5px;
  margin-top: 5px;
  color:red;
}
.headline1 {
  margin-left: 60px;
}
.infoReactJS {
  margin-top: 0px;
  margin-bottom:0px;
}
.infoPython {
  margin-top:0px;
  margin-bottom: 0px;
}

.wholedescrip2 {
  margin-bottom: 5px;
  margin-top: 5px;
  color:red;
}
.main2 {
  flex-grow:1;
  justify-content: space-between;
  margin-left: 30px;
  padding-top: 10px;
}

.block2 {
  display:flex;
  border-style: solid;
  margin-top: 40px;
  border-radius: 25px;
  border-color:#8fd3f4;
  padding: 10px;
}
.sidebar-image2 {
  width:300;
}
.link1 {
  margin-top:0px;
  margin-bottom: 0px;
}
.headline2 {
  margin-left: 60px;
}
.main3 {
  flex-grow:1;
  justify-content: space-between;
  margin-left: 30px;
  padding-top: 10px;
}
.wholedescrip3 {
  margin-bottom: 5px;
  margin-top: 5px;
  color:red;
}
.sidebar-image3 {
  width:300;
  margin-left:10px;
}
  .block3 {
    display:flex;
    border-style: solid;
    margin-top: 40px;
    border-radius: 25px;
    border-color:#8fd3f4;
    padding: 10px;
  }


  .infoGCC {
    margin-top:0px;
    margin-bottom: 0px;
  }
  .sidebar-image {
    padding-left: 10px;

  }
  .headline3 {
    margin-left: 60px;
  }
  @media all and (max-width: 800px) {
  body {
    background-color: lightblue;
    flex-direction: column;
  }
}

  /*Finnish Club*/
  .main4 {
    flex-grow:1;
    justify-content: space-between;
    margin-left: 30px;
    padding-top: 10px;

  }
  .wholedescrip4 {
    margin-bottom: 5px;
    margin-top: 5px;
    color:red;
  }
  .sidebar-image4 {
    width:300;
    margin-left:10px;
  }
    .block4 {
      display:flex;
      border-style: solid;
      margin-top: 40px;
      border-radius: 25px;
      border-color:#8fd3f4;
      padding: 10px;
    }


    .infoFinnish {
      margin-top:0px;
      margin-bottom: 0px;
    }
    .sidebar-image {
      padding-left: 10px;

    }
    .headline4 {
      margin-left: 60px;
    }
